*, *::before, *::after {
  box-sizing: border-box;
}

/* importing components */
@import url("components/card.css");

:root {
  /* color variables */
  --color-bg: #0892A5;
  /* font variables */
  --ff-primary-600: 'Montserrat', sans-serif;
  --ff-accent-400: 'Lora', serif;
  --ff-regular-400: 'Martel', serif;
}

body {
  font-family: var(--ff-primary-600);
  font-size: 1.3125rem;
  background-color: var(--color-bg);
}
