/* importing components */
@import url("components/card.css");
@import url("components/button.css");
@import url("components/pages/cv.css");
@import url("components/pages/tech.css");

*, *::before, *::after {
  box-sizing: border-box;
}



:root {
  /* color variables */
  /* --color-bg: #6B9AC4; */
  /* charcoal --color-bg: #2E4052; */
  /* --color-bg: #D8E8E7; */
  /* --color-bg: #C8E5F9; */
  --color-bg: #ECF6FD;
  /* --color-neutral: #FAFAFA; */
  /* font variables */
  --ff-primary-600: 'Montserrat', sans-serif;
  --ff-accent-400: 'Lora', serif;
  --ff-regular-400: 'Martel', serif;
}

body {
  font-family: var(--ff-primary-600);
  font-size: 1.3rem;
  background-color: var(--color-bg);
  /* color: var(--color-neutral); */
  display: flex;
  justify-content: center;
}

h2 {
  margin-bottom: 5px;
  color: #F5F5F5;
}

h6 {
  font-family: var(--ff-regular-400);
  font-size: 18px;
}

h4 {
  margin-top: 5px;
  font-size: 18px;
}
.container {
  display: flex;
  justify-content: center;
  min-width: 200px;
  max-width: 40.5rem;
}
