/* importing components */
@import url("components/card.css");

*, *::before, *::after {
  box-sizing: border-box;
}



:root {
  /* color variables */
  --color-bg: #0892A5;
  --color-neutral: #FAFAFA;
  /* font variables */
  --ff-primary-600: 'Montserrat', sans-serif;
  --ff-accent-400: 'Lora', serif;
  --ff-regular-400: 'Martel', serif;
}

body {
  font-family: var(--ff-primary-600);
  font-size: 1.3rem;
  background-color: var(--color-bg);
  color: var(--color-neutral);
  display: flex;
  justify-content: center;
}

h2 {
  margin-bottom: 5px;
}

h6 {
  font-family: var(--ff-regular-400);
  font-size: 16px;
  padding-left: 25px;
  font-weight: lighter;
}

h4 {
  margin-top: 5px;
  font-size: 18px;
}
.container {
  display: flex;
  justify-content: center;
  min-width: 200px;
  max-width: 40.5rem;
}
